In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../../data/processed/edhs/Unimputed_CHM_1.csv')
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [5]:
df.head()

,Region,Rural_Urban,No_of_Children_under_5,Age_at_1st_Birth,BirthOrder,Prec.BirthInterval,TotalChildren,HighestEducation,SexofChild,childSize,WealthQuantile,prev_termin_pregnancy,Year,Toiletfascility,HandwashFascility,Place_of_delivery,Contraceptive_use,Mediaexposure,age,dead_alive
0,1,2,1,23,1,NaN,1,1,1,5.0,NaN,0.0,1,0.0,1.0,0.0,0.0,0.0,25.0,1
1,1,2,2,16,8,28.0,7,0,1,5.0,NaN,0.0,1,0.0,NaN,0.0,0.0,0.0,12.0,1
2,1,2,2,16,7,37.0,7,0,2,3.0,NaN,0.0,1,0.0,NaN,0.0,0.0,0.0,40.0,1
3,1,2,2,15,7,26.0,5,0,2,1.0,NaN,0.0,1,0.0,NaN,0.0,0.0,0.0,16.0,1
4,1,2,2,15,6,29.0,5,0,1,3.0,NaN,0.0,1,0.0,NaN,0.0,0.0,0.0,42.0,1

In [11]:
col = list(df.columns)
val = list(df.isna().sum())
zip_iterator = zip(col, val)
missing_values = dict(zip_iterator)

In [12]:
missing_values

{'Region': 0,
 'Rural_Urban': 0,
 'No_of_Children_under_5': 0,
 'Age_at_1st_Birth': 0,
 'BirthOrder': 0,
 'Prec.BirthInterval': 9915,
 'TotalChildren': 0,
 'HighestEducation': 0,
 'SexofChild': 0,
 'childSize': 5719,
 'WealthQuantile': 10873,
 'prev_termin_pregnancy': 5719,
 'Year': 0,
 'Toiletfascility': 1323,
 'HandwashFascility': 9232,
 'Place_of_delivery': 6389,
 'Contraceptive_use': 0,
 'Mediaexposure': 5458,
 'age': 0,
 'dead_alive': 0}

In [13]:
df.head(20).to_csv('./data/sample_edhs.csv')